@* <form asp-action="CreateQuiz" enctype="multipart/form-data" method="post">
    <label>Name</label>
    <input type="text" asp-for="Name" />

    <label>Description</label>
    <textarea asp-for="Description"></textarea>

    <label>Image</label>
    <input type="file" asp-for="Image" />

    <label>Date</label>
    <input type="date" asp-for="QuizDate" />

    <button type="submit">Create Quiz</button>
</form>
 *@